html{
    margin:0px;
}

body{
    background-color: #292929;
    width: auto;
    height: 100vh;
    display: block;
    font-family: 'Roboto', sans-serif;
    color: #fDC504;
}

.txtbold{
    font-weight: bold;
}

header{
    height: 20%;
    width:100%;
    margin: auto;
}

#hdMain{
    display: flex;
    justify-content: space-between; 
}

.oLog-img{
    height: 120px;
    width: 30%;
    object-fit: contain;
}

#sbbtn{
    font-size: 30pt;
    cursor: pointer;
    background-color: transparent;
    color: #fDC504;
    border: none;
  }

#moSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292929;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }


#closeCont{
    display: flex;
    justify-content: flex-end;
    height: 20%;
    padding-right: 1%;
}

#closebtn{
    font-size: 30pt;
    cursor: pointer;
    background-color: transparent;
    color: #fDC504;
    border: none;
}

.items{
    height: 16%;
    width: 100%;
}

.itemsinn{
    margin: auto;
    width: 80%;
    text-align: center;
}

a{
    font-family: 'Roboto', sans-serif;
    color: #fDC504;
    font-size: 45pt;;
}

a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
  }



#logoswork
{
    height: 100%;
    background-image: url('./media/LOGOS.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
}

#illwork
{
    height: 100%;
    background-image: url('./media/Ilustraciones.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
}

#merchwork
{
    height: 100%;
    background-image: url('./media/Merch.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
}

#clientwork
{
    height: 100%;
    background-image: url('./media/Clientes.jpg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    margin: auto;
    width: 100%;
}

.instagram {
    text-align: center;
    color: #fDC504;
    vertical-align: middle;
  }

.mainBody{
    height: inherit;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: space-between;
}
.mainBody > div{
    word-wrap: normal;
    flex-shrink: 100;
}
#contact{
    width: 50%;
    margin: auto;
    font-size: 45pt;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#contact > div{
    width: 100%;
    flex-basis: 20%;
    word-break: break-all;
}
.navBar{
    width:80%;
    margin:auto;
    
  }
.navSel{
    width: 100%;
}
.navSel-nav{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.nav-item{
    font-size: 16px;
    width: 100%;
    color: #fDC504;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fDC504;
    font-family: 'Roboto', sans-serif;
}

#sp-btn{
    background-color: #fDC504;
    color: #292929;
}

#spanish{
      width:80%;
      margin:auto;
      
  }

#english{
    display: none;
    width:80%;
    margin:auto;
}
