html{
    margin:0px;
}

body{
    background-color: #292929;
    width: auto;
    height: 100vh;
    display: block;
    font-family: Georgia, serif;
    color: #fDC504;
}

.txtbold{
    font-weight: bold;
}
header{
    height: 20%;
    width:100%;
    margin: auto;
}

#hdMain{
    display: flex;
    justify-content: space-between;
}


#sbbtn{
    font-size: 30pt;
    cursor: pointer;
    background-color: transparent;
    color: #fDC504;
    border: none;
  }

#moSidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #292929;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 20px;
  }


#closeCont{
    display: flex;
    justify-content: flex-end;
    height: 20%;
    padding-right: 1%;
}

#closebtn{
    font-size: 30pt;
    cursor: pointer;
    background-color: transparent;
    color: #fDC504;
    border: none;
}

.items{
    height: 16%;
    width: 100%;
}

.itemsinn{
    margin: auto;
    width: 80%;
    text-align: center;
}

a{
    font-family: Georgia, serif;
    color: #fDC504;
    font-size: 45pt;;
}

a:link, a:visited {
    text-decoration: none;
    cursor: pointer;
  }



#logoswork
{
    height: 100vh;
    background-image: url('../media/LOGOS.JPG');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: 50%;
}

#illwork
{
    height: 90%;
    background-image: url('../media/Ilustraciones.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: 50%;
}

#merchwork
{
    height: 90%;
    background-image: url('../media/Merch.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: 50%;
}

#clientwork
{
    height: 90%;
    background-image: url('../media/Clientes.jpg');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    margin: auto;
    width: 50%;
}

.instagram {
    text-align: center;
    color: #fDC504;
    vertical-align: middle;
  }